<div class="container-fluid g-0" >
  
  <app-header></app-header>

  <main>
    <div class="toolbar">
      <div class="add-employee">
        <button type="button" class="btn btn-outline-success btn-lg">Add employee</button>
      </div>
      <div class="search-employees">
        <input type="search" class="form-control" placeholder="Search Employees">
      </div>

    </div>
    <div class="employees">

      <div class="row mt-5 ">
        <div class="col text-center ">
          <span class="text-secondary fs-2 fw-bold fst-itallic">there is no employee yet!</span>
        </div>
      </div>
      
    </div>
  </main>

</div>